.closeBtn {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 30px;
    height: 30px;
    min-width: 16px;
    min-height: 16px;
    background-color: rgb(171, 38, 38);
    border-left-color: rgb(5, 5, 5);
    border-right-color: rgb(5, 5, 5);
    border-top-color: rgb(5, 5, 5);
    border-bottom-color: rgb(5, 5, 5);
    color: rgb(253, 253, 253);
}
